@{
    ViewData["Title"] = "Videos";
}

<div class="card mb-4">
    <div class="card-body">
        <h1 class="display-4 mb-4 text-center">Opal Videos</h1>
        <p class="lead text-center mb-5">Watch our collection of videos showcasing the beauty and diversity of opals</p>

        <div class="row mb-5">
            <div class="col-md-6 mb-4">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/dQw4w9WgXcQ" allowfullscreen></iframe>
                </div>
                <h5 class="mt-2">The Beauty of Australian Opals</h5>
                <p>Discover the stunning colors and patterns of Australian opals, known for their exceptional quality.</p>
            </div>
            <div class="col-md-6 mb-4">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/dQw4w9WgXcQ" allowfullscreen></iframe>
                </div>
                <h5 class="mt-2">How Opals Are Formed</h5>
                <p>Learn about the fascinating geological processes that create these magnificent gemstones.</p>
            </div>
        </div>

        <div class="row mb-5">
            <div class="col-md-6 mb-4">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/dQw4w9WgXcQ" allowfullscreen></iframe>
                </div>
                <h5 class="mt-2">Opal Cutting and Polishing</h5>
                <p>Watch master craftsmen transform rough opals into brilliant gemstones through cutting and polishing.</p>
            </div>
            <div class="col-md-6 mb-4">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/dQw4w9WgXcQ" allowfullscreen></iframe>
                </div>
                <h5 class="mt-2">Opal Mining in Australia</h5>
                <p>Experience the adventure of opal mining in the outback of Australia.</p>
            </div>
        </div>

        <div class="row mb-5">
            <div class="col-md-6 mb-4">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/dQw4w9WgXcQ" allowfullscreen></iframe>
                </div>
                <h5 class="mt-2">Types of Opals Explained</h5>
                <p>Learn about the different varieties of opals and what makes each one unique.</p>
            </div>
            <div class="col-md-6 mb-4">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/dQw4w9WgXcQ" allowfullscreen></iframe>
                </div>
                <h5 class="mt-2">Caring for Your Opal Jewelry</h5>
                <p>Tips and techniques for maintaining the beauty of your opal jewelry for generations.</p>
            </div>
        </div>

        <div class="text-center mt-5 mb-3">
            <h3>Subscribe to Our YouTube Channel</h3>
            <p class="mb-4">Stay updated with our latest videos about opals and jewelry</p>
            <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank" class="btn btn-danger btn-lg">
                <i class="fab fa-youtube mr-2"></i> Subscribe Now
            </a>
        </div>
    </div>
</div>

<style>
    .embed-responsive {
        position: relative;
        display: block;
        width: 100%;
        padding: 0;
        overflow: hidden;
    }

    .embed-responsive::before {
        display: block;
        content: "";
        padding-top: 56.25%;
    }

    .embed-responsive-item {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 0;
    }

    .btn-danger {
        background-color: #FF0000;
        border-color: #FF0000;
    }

    .btn-danger:hover {
        background-color: #CC0000;
        border-color: #CC0000;
    }
</style>
