@model OttawaOpalShop.Models.ShoppingCart

<a asp-controller="Cart" asp-action="Index" class="btn btn-link text-white position-relative">
    <i class="fas fa-shopping-cart"></i>
    @if (!Model.IsEmpty)
    {
        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
            @Model.ItemCount
        </span>
    }
</a>
